SteamCommunityClient/src/main/resources/META-INF/schema/steamgamelist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gamesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="steamID64" type="xs:unsignedLong" />
        <xs:element name="steamID" type="xs:string" />
        <xs:element name="games">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="game">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="appID" type="xs:unsignedInt" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="logo" type="xs:string" />
                    <xs:element name="storeLink" type="xs:string" />
                    <xs:element minOccurs="0" name="hoursLast2Weeks" type="xs:decimal" />
                    <xs:element minOccurs="0" name="hoursOnRecord" type="xs:decimal" />
                    <xs:element minOccurs="0" name="statsLink" type="xs:string" />
                    <xs:element minOccurs="0" name="globalStatsLink" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>